<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_Ventas.Properties.Settings.sistema_ventasConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=1997;persistsecurityinfo=True;database=sistema_ventas"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>